.last_sce{
    background-color: rgb(166, 207, 215);
/* position: relative; */
height: 100% !important;

    
}
.notification{
    top: 20px;
    size: 15px;
    position: relative;
    left: -5px;
    border-radius:500px;
    background-color: red;
    color: white;
}
.icon-button {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    color: #333333;
    background: #dddddd;
    border: none;
    outline: none;
    border-radius: 50%;
    top: 20px;
    left: 3px;
  }
  
  .icon-button:hover {
    cursor: pointer;
  }
  
  .icon-button:active {
    background: #cccccc;
  }
  
  .icon-button__badge {
    position: absolute;
    top: -10px;
    right: -5px;
    width: 20px;
    height: 20px;
    background: red;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
  }
  @media screen and (max-width:768px) {
    .last_sce{
      display: none;
    }
      }